.tile-panel {
    display: block;
    overflow: hidden;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    width: calc(100% - 64px);
}

.tile-base {
    display: block;
    float: none;
    margin-bottom: 8px;
    text-decoration: none;
    background: transparent;
}

.portfolio-tile {
    border: 1px solid #FFF;
    width: 100%;
    height: auto;
}

.inline-link-tile {
    float: left;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    line-height: 24px;
    font-size: 1em;
    font-weight: 600;
}

.inline-tile {
    float: left;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    line-height: 24px;
    font-size: 1em;
}

.screenshot-tile {
    width: 100%;
}

.tile-base .tile-title, .tile-text {
    text-shadow: 0 0 2px rgba(255, 0, 0, 0.5), 0 0 2px rgba(255, 0, 0, 0.5), 0 0 2px rgba(255, 0, 0, 0.5), 0 0 2px rgba(255, 0, 0, 0.5), 0 0 2px rgba(255, 0, 0, 0.5), 0 0 2px rgba(255, 0, 0, 0.5);
}

.tile-base .tile-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tile-base .tile-cover img {
    display: none;
}

.tile-base .tile-cover .tile-title {
    position: relative;
    left: 8px; 
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 1.5em; 
}

/* Media query to override styling on screens larger than 1024px */
@media only screen and (min-width: 1000px) {
    .tile-panel {
        margin-right: 0px;
        width: calc(100% + 21px);
    }

    .tile-base {
        margin-right: 8px;
    }

    .portfolio-tile {
        width: 100%;
        height: auto;
    }
}
